*{
    margin: 0px;
    padding: 12px;
    box-sizing: border-box;
    background-position: 20% -8%;
    font-family: 'Courier New', Courier, monospace;

}

/*login page*/
top{
  
    font-size: 30px;
    letter-spacing: 13px;
    line-height: 1.2;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    margin-left: 60%;
    width: 100%;
    display: block;

}


.container{
	width: 500px;
	height: 300px;
    margin-left: 30%;
    margin-top: 13%;
	background-color: bisque;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  

}

.loginbtn{
    padding: 15px 25px;
    margin-left: 30%;
    margin-top: 10%;
	border: none;
	background-color: rgb(242, 196, 140);
	color: black;
}


/*main page*/
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 10vh;
    background-color: bisque;
}

.head{
    color: black;
    letter-spacing: 10px;
    font-size: 20px;
}

.links{
    display: flex;
    text-align: right;
    justify-content: space-around;
    width: 50%;
    color: black;
  
}

nav .links{
    list-style: none;
    color: white;

}

.links a{

    color: black;
    text-decoration: none;
    letter-spacing: 3px;
    font-size: 14px;

}

h2{
  
    text-align: center;
    margin-top: 5%;
}

/* tables */

.table_members{

    margin-left: 10%;

}

.table_books{

    margin-left: 2%;

}

.table_borrow{

    margin-left: 11%;
    
}

.table{
    text-align: center;
}

td, th {

    text-align: left;
    padding: 8px;
    flex: auto;
}

tr:nth-child(even) {
    background-color: rgb(255, 242, 226);
}


/*edit and delete button*/

table img{

    margin-right: 20%;
    height: 50px;
    width: 60px;
}

/*add button*/

a img{

    height: 60px;
    width: 60px;
    
}
